In [3]:
import numpy as np 
import pandas as pd
import scipy as sp
import random

In [9]:
#Getting our data
file = '_fb205379f16688a0d5fff594e91ac7e7_data_files_DA-LSS.xlsx'
df = pd.read_excel(file, header = 6, sheet_name = 2, usecols = 'A:B')

In [13]:
df.head()

     Batch nr.  Caffeine%
0  082002-C116      0.092
1  082002-C122      0.105
2  082002-C126      0.079
3  082002-C141      0.118
4  082002-C147      0.069